DB_HOST=database
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_password_here
DB_NAME=db_name
APP_NAME="Product Description API"
APP_DESCRIPTION="API for generating product descriptions"
DEBUG=False
API_VERSION=1.0
